
:root{
  --bg : #2a2f35
}
body {
  background-color: #000;
  margin: 0;
 padding: 0;
background:  url('/public/images/background.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100vh;
}

